<div class="home-page">
  <h4>Welcome to Freelance test app</h4>
  <span>Feel free to test it with Selenium (but please do not load with load-testing tools)</span>

  <img src="assets/img/freelance-1.jpg">

  <div style="margin: 1em">
    <span style="width: 80%">
    Wanna find new job or talent for your business </span>
    <a routerLink="/login">Log in</a>
  </div>
  <div style="margin: 1em">
    <a routerLink="/register">Create account</a>
    <span style="width: 110px"> if still don't have it</span>
  </div>

</div>
