<div *ngIf="isJobLoaded && isUserDataLoaded" class="index-page">
  <mat-card class="job-card" *ngFor="let job of jobs; let i = index">
    <mat-card-header style="text-align: left">
      <mat-card-title>{{job.title}}</mat-card-title>
      <mat-card-subtitle align="start">Posted by {{job.user}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-subtitle align="end">Comments: {{job.noOfComments}}</mat-card-subtitle>
    <mat-card-subtitle class="price">Price {{job.price}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{job.description}}</p>
    </mat-card-content>

    <mat-card-actions align="start">
      <button mat-button [routerLink]="['/job', job.id]">
        <mat-icon>info</mat-icon> View info
      </button>
    </mat-card-actions>

  </mat-card>
</div>
