<div>
  <div style="text-align: right">
    <button mat-flat-button color="primary" routerLink="/profile">Back</button>
  </div>

  <h2>Create Job</h2>
  <form [formGroup]="jobForm">
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field class="w-100" appearance="outline">
      <mat-label>Price</mat-label>
      <input matInput formControlName="price">
    </mat-form-field>

    <div style="text-align: right">
      <button mat-flat-button color="primary" [disabled]="jobForm.invalid" (click)="submit()">
        Create job
      </button>
    </div>

  </form>
</div>
